<!DOCTYPE html>
<html>
<head>
  <title>DiceBackend</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= vite_client_tag %>
  <%= vite_javascript_tag 'dice_app', 'data-turbo-track': 'reload' %>
</head>

<body>
<div id="app-mount"
     data-state="<%= @init_state %>"
>
  <%= yield %>
</div>
</body>
</html>
